@model ProductCard
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					@Model.Name
				</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<img alt="" src="@Model.Image" class="bd-placeholder-img img-fluid" height="500" />
		</div>
		<div class="col-md-4">
			<h3 class="my-3">Описание</h3>
			<p>@Model.Description</p>
			<h3 class="my-3">Детали</h3>
			<ul>
				<li>Продавец: @Model.Seller</li>
				<li>Цена: @Model.ProductPrice ₽</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>
				Похожие товары
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="" class="bd-placeholder-img img-fluid" />
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="" class="bd-placeholder-img img-fluid" />
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="" class="bd-placeholder-img img-fluid" />
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="" class="bd-placeholder-img img-fluid" />
		</div>
	</div>
</div>