@model ProductCard

@{
}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					@Model.HeadTitle
				</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<img alt="" src="@Model.Image.First" class="bd-placeholder-img img-fluid" height="500" />
		</div>
		<div class="col-md-4">
			<h3 class="my-3">Описание</h3>
			<p>@Model.Description</p>
			<div>
				<h3 class="my-3">Детали</h3>
				<ul>
					<li>Цена: @Model.Price₽</li>
					@if (Model.Address != null)
					{
						<li>Улица: @Model.Address.Street</li>
						<li>Город: @Model.Address.City</li>
						<li>Область: @Model.Address.State</li>
					}
					else
					{
						<li>Адрес не указан</li>
					}
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>
				Дополнительные фото
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img alt="Image 1" src="@Model.Image.Second" class="bd-placeholder-img img-fluid" />
		</div>
		<div class="col-md-3">
			<img alt="Image 1" src="@Model.Image.Third" class="bd-placeholder-img img-fluid" />
		</div>
		<div class="col-md-3">
			<img alt="Image 1" src="@Model.Image.Fourth" class="bd-placeholder-img img-fluid" />
		</div>
		<div class="col-md-3">
			<img alt="Image 1" src="@Model.Image.Fifth" class="bd-placeholder-img img-fluid" />
		</div>
	</div>
</div>