@using AllForRent.ViewModels;
@model EditProductCardViewModel

@{
}

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="HeadTitle" class="form-label">Название объявления</label>
        <input asp-for="HeadTitle" class="form-control" placeholder="Заголовок для объявления">
        <span asp-validation-for="HeadTitle" class="text-danger"></span>
        <div id="emailHelp" class="form-text">Название должно содержать не более 60-ти символов</div>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Описание</label>
        <input asp-for="Description" class="form-control" placeholder="Введите текст">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Цена</label>
        <input asp-for="Price" class="form-control" placeholder="Цена в рублях">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Street" class="form-label">Улица</label>
        <input asp-for="Street" class="form-control" placeholder="Укажите улицу">
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="City" class="form-label">Город</label>
        <input asp-for="City" class="form-control" placeholder="Укажите город">
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="State" class="form-label">Область</label>
        <input asp-for="State" class="form-control" placeholder="Укажите область">
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Images" class="form-label">Добавьте изображение</label>
        <input asp-for="Images" class="form-control" type="file" multiple>
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Текущие изображения</label>
        <div class="d-flex flex-row">
            @for (var i = 0; i < Model.ImageUrls.Count; i++)
            {
                <div class="me-3 position-relative">
                    <input type="image" id="@($"image{i + 1}")" src="@Model.ImageUrls[i]" alt="Изображение @(i + 1)" style="width: 100px; height: 100px;">
                    <button type="button" class="btn btn-danger position-absolute top-0 end-0" onclick="deleteImage(@($"image{i + 1}"), @($"input{i + 1}"))">X</button>
                    <input type="file" id="@($"input{i + 1}")" name="Images" style="display: none;" onchange="previewImage(event, @($"image{i + 1}"))">
                </div>
            }
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>